* {
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
}

body{
    height: 100vh;
    background-color: black;
    border: 5px solid red;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    color: white;
    justify-content: center;

}
section{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 100px;
}
h2{
    display: flex;
    justify-content: center;
}
.gbotao{
    margin-top: 50px;
    border: black;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.botao{
    font-size: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 30px;
    background-color: red;
    color: black;
    border-radius: 30px;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.imagem{
    height: 288px;
    width: 288px;
    border: 5px solid red;
}

.det{
    border-radius: 30px;
    padding: 50px;
    border: 5px solid red;
    display: flex;
    align-items: center;

}

.controleimg{
    scale: 1;
}

.botao:hover{
background-color: yellow;
scale: 1.3;
}

